/* Improved layout for forms */
/* Layout: https://www.w3schools.com/csS/tryit.asp?filename=trycss_form_responsive */
* {
    box-sizing: border-box;
}

/* input[type=text], select, textarea { */
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* input[type=submit] { */
.input_submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* input[type=submit]:hover { */
.input_submit:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;

    width: 75%;
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
*/
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    .input_submit {
        width: 100%;
        margin-top: 0;
    }
}