# Remove # in next line to switch register_globals ON.
#php_flag register_globals off

# Remove # in next line to switch magic_qoutes_gpc ON.
#php_flag magic_quotes_gpc on

# Remove # in next line to suppress fault messages.
#php_flag display_errors off

# Url_rewrite option
RewriteEngine On

RewriteRule ^tree_index/(.*)/ tree_index.php
RewriteRule ^tree_index/(.*) tree_index.php

RewriteRule ^index/(.*)/ index.php
RewriteRule ^index/(.*) index.php

RewriteRule ^list/(.*)/ list.php
RewriteRule ^list/(.*) list.php

# Backwards compatible lines
RewriteRule ^lijst/(.*)/ list.php
RewriteRule ^lijst/(.*) list.php

RewriteRule ^list_names/(.*)/ list_names.php
RewriteRule ^list_names/(.*) list_names.php

# Backwards compatible lines
RewriteRule ^lijst_namen/(.*)/ list_names.php
RewriteRule ^lijst_namen/(.*) list_names.php

# TEST LINES
# RewriteRule ^lijst_namen/(.*)/(.*)/ list_names.php?database=$1&last_name=$2
# RewriteRule ^lijst_namen/(.*)/(.*) list_names.php?database=$1&last_name=$2
# RewriteRule ^lijst_namen/(.*)/ list_names.php?database=$1
# RewriteRule ^lijst_namen/(.*) list_names.php?database=$1

# NOT IN USE YET
# RewriteRule ^list_names/(.*)/ list_names.php?database=$1
# RewriteRule ^list_names/(.*) list_names.php?database=$1
# RewriteRule ^list_names/(.*)/ list_names.php?database=$1&last_name=$2
# RewriteRule ^list_names/(.*) list_names.php?database=$1&last_name=$2

RewriteRule ^family/(.*)/ family.php
RewriteRule ^family/(.*) family.php

# Backwards compatible lines
RewriteRule ^gezin/(.*)/ family.php
RewriteRule ^gezin/(.*) family.php

#php_value max_input_vars 4000
