/* Central Style file - Centraal style bestand */

/* Joomla */

#top_menu {
	width:100%;
	margin:0;
	display:block;
	background:#fff;
	z-index:5;
}

#top {
	text-align:left;
	color:#7F7F7F;
	background-color:#E8E8E8;
	background:url(images/gray_white.png) repeat left top;
	height:35px;
	padding:5px 10px 0;
}

#top_website_name	{
	font-weight:bold;
	font-size:18px;
}
#top_familytree_name {
	color:#333;
	font-size:13px;
	font-weight:bold;
}
#top_quicksearch {
	padding:0px 20px 0;
	display:inline;
}

/* Style-skin sheet select form */
#switchform {
	z-index: 10;
	font-family: Rockwell, Verdana, Arial, Sans-Serif;
	color: #000000;
	padding: 3px 3px 1px 3px;
	font-size:12px;

	display:inline;
}
/* Style-skin sheet select form */
#top_font_size {
	z-index: 10;
	font-family: Rockwell, Verdana, Arial, Sans-Serif;
	color: #000000;
	padding: 3px 3px 1px 3px;
	font-size:12px;

	display:inline;
}

/* #humo_menu = menu bar */
#humo_menu {
	position:absolute;
	/* top:40px; */
	display:block;
	width:100%;
	background:url("images/default_trans_large.png") repeat left top;
	font-size: 13px;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	z-index:100;

	margin:0;
}

/* Border pop-up menu */
span.ltrsddm div {
	border:1px solid #999999;
}
span.rtlsddm div {
	border:1px solid #999999;
}
span.rtlsddm #m1x  ul  {
	padding-right: 0px;
}

/* Main menu */

#humo_menu ul.humo_menu_item {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */
}
/* Pop-up menu */
#humo_menu ul.humo_menu_item2 {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */
}

/* Main menu */
#humo_menu ul.humo_menu_item li {
	float:left;
	margin:0;
	border-right:1px;
}

/* Pop-up menu */
#humo_menu ul.humo_menu_item2 li {
	float:none;
	display:block;
	border-right:none;
	margin:0;
}

/* Main menu */
#humo_menu ul.humo_menu_item li a{
	display:block;
	padding:8px 5px 7px 5px;
	text-decoration:none;
	color:#333;
	border-right:1px solid #b0b0b0;
}
/* Pop-up menu */
#humo_menu ul.humo_menu_item2 li a{
	float:none;
	font-size: 13px;
	padding:8px 5px 6px 5px;
	text-decoration:none;
	color:#333;
	border-right: none;
	background:url("images/default_trans_large.png") repeat left top;
	display:block;
}

/* #humo_menu a:hover { */
#humo_menu a:hover, #humo_menu ul.humo_menu_item2 li a:hover{
	/* background:url(images/gray_down.png) repeat left top; */
	background:url("images/gray_down.jpg") repeat left top;
}
#humo_menu #current {
}
#humo_menu #current a, #humo_menu #current_top {
	/* background:url(images/gray_down.png) repeat left top; */
	background:url("images/gray_down.jpg") repeat left top;
	color:#333;
}

#country_flags{
	float:right;
	display:block;
	padding:8px 85px 6px 5px;
	text-decoration:none;
	color:#333;
	border-right:none;
}

* html #top_menu, * html #foot,* html #left {
	position:absolute;
}

#content {
	display:block;
	position:relative;
	z-index:3;
	height:100%;
	max-height:90%;
	top:35px;

	padding:10px 0px 10px 10px;

	background-image: url('images/background.gif');
	background-repeat: no-repeat;
}
#rtlcontent {
	display:block;
	position:relative;
	z-index:3;
	height:100%;
	max-height:95%;
	top:35px;

	padding:10px 10px 10px 0px;
}

/* Center box is not used in all styles */
#mainmenu_centerbox{
	margin:0px 15px 0px 0px;
	height:auto;
	min-height:400px;
}

/* For main menu: left - center - right */
#mainmenu_left{
	float: left;
	width:21%;
	padding: 0px;
}
#mainmenu_center{
	float: left;
	width: 46%;
	text-align:center;
	margin-left: 20px;
}
#mainmenu_center_alt{
	float:left;
	width:70%;       /* was oorspronkelijk 48% */
	text-align:center;
	margin-left:0px;
	padding:0px 0px 0px 10px;        /* iets meer ruimte links gemaakt */
}
#mainmenu_right{
	float:right;
	width:180px;
}
#mainmenu_right form {
	margin-left:12px;
}

/* Mainmenu link and tekst family tree - Link en tekst bij stamboom in hoofdmenu */
.tree_link {
	font-size: 14px;
	font-weight:bold;
	margin-left: 10px;
}
.style_tree_text {
	font-size: 12px;
}

/* top bar in left - content - right boxes: only in main menu */
.mainmenu_bar{
	background:url("images/default_trans.png") repeat left top;
	text-align:center;
	font-weight:bold;
	font-size:13px;
	margin-bottom:10px;
}

/* heads - koppen */
h1 { text-align: center; }

hr { text-align: center; width:70%; }

/* tables - tabellen */
table.humo {
	border-collapse: collapse;
	background-color:#FAF1EB;
}

table.standard { width:98%; }

.border {
	border: solid 1px #999999;
	border-collapse: collapse;
}

td.table_header {
	background-color: transparent;
	background-image: url('images/default_trans.png');
}

table.humo td {
	border: solid 1px #999999;
}
.no_border {
	border: 0px;
}
table.humo th {
	font-size: 15px;
}

/* img { width:100px; } */

/* links - linken */
a { text-decoration:none; }
a:link { color:blue; }
a:hover { text-decoration:underline; color:red; }
a:visited { color:brown; }

/* family screen text - tekst bij gezinsblad */
.family_page_toptext {
	background-color: transparent;
	background-image: url('images/default_trans.png');
	/* font-size:120%; */
	font-size: 14px;
	text-align: center;
	font-weight:bold;
}

/* person margin - inspringen van gegevens bij een persoon */
.margin_person { margin-left: 15px; }
.margin_child { margin-left: 30px; }
/* more than 9 kids: extra margin - bij meer dan 9 kinderen extra inspringen */
.margin_child2 { margin-left: 40px; }

/* parent 1 (normally the father) - overzicht parent1 (meestal de vader) */
.parent1 { }

/* parent 2 (normally the mother) - overzicht ouder 2(meestal de moeder) */
.parent2 { }

/* link to parents - link naar parents */
.parents { font-weight:bold; }

/* marriage - overzicht huwelijk */
.marriage { }

/* divorse - overzicht scheiding */
.divorse { }

/* child number - overzicht child_nr */
.child_nr {
	font-weight:bold; font-style:italic;
	display: inline;
}

/* children - overzicht kinderen */
.children {
	/* font-size:90%; */
	display: inline;
}

/* name - naam */
.pers_name { font-weight:bold;}

/* text - tekst */
.text { font-style:italic; }

/* city - woonplaats */
.pers_living_place { }

/* profession - beroep */
.profession { }

/* religion */
.religion { }

/* own code - eigen code */
.pers_own_code { }

/* event - gebeurtenis */
.event { font-style:italic; }

/* head genealogy - koptekst parenteel (Generatie I, II, etc.) */
.standard_header {
	font-size:200%;
	color:blue; font-weight:bold;
	text-align: center;
	line-height: 200%;
}

/* Center buttons - O.a. center van buttons */
#center {
	text-align:center;
}

/* Heads - Voor de buttons en andere invoer velden */
input { font-size: 10px; }
/* input.geselecteerd { color:blue; font-weight:bold; } */

/* Family tree buttons - Parenteel en kwartierstaat buttons */
.button {
	height:20px;
	/* width:25px; */
	width:23px;
	padding:0px;
}

/* INDEX LISTS - INDEX LIJSTEN */
/* Complete index_lijst center */
.index_list1{
	text-align:center;
	/* text-align:left; */
	/* boven, rechts, onder */
	padding:10px 0px 0px 0px;
}
/* De INHOUD van de index_lijst links uitancestor_lineen */
.index_list2{
	margin-left: 20%;
	text-align:left;

	/* boven, rechts, onder */
	padding:10px 0px 0px 0px;
}

/* for RTL display */
.rtlindex_list2{
	margin-right: 20%;
	text-align:right;
}

/* Kleur van echtgeno(o)t(e) of parter in indexlijst */
.index_partner{
	color:green;
}

/* For lastnames index */
.index_lastname{
	margin-left: 100px;
	margin-right: 100px;
}

/* Lay-out for several search bar's */
.search_bar{
	position: relative;
	margin: 0px auto;
	width: 990px;
	text-align: center;
	/* background-color:#FAF1EB; */
	border: 1px solid #999999;;
	background:url("images/default_trans.png") repeat left top;
	padding:1px;
}

/* Ancestor graphical */
div.ancestor_name{
	position: absolute;
	/* width: 160px; height: 16px; */
	border: 1px solid #000;
	/* font-size: 11px; */
	font-size: 9px;
}
div.ancestor_man{
	background-color:#99FFFF;
}
div.ancestor_woman{
	background-color:#FFCCFF;
}
div.ancestor_line{
	position: absolute;
	width: 20px;
	border-bottom: 1px solid #000; border-top: 1px solid #000;
}
div.ancestor_split{
	position: absolute;
	width: 20px;
	border-left: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000;
}

/* report_ancestor.php */
a.nam:link {color: #000000; text-decoration: none; }
a.nam:active {color: #000000; text-decoration: none; }
a.nam:visited {color: #000000; text-decoration: none; }
a.nam:hover {color: #000000; text-decoration: none; }
.chart_line { background-color:#000000; border:0px; }

/* center and auto-adjust width of outline table */
table.outlinetable {
	margin-left: auto; margin-right:auto;
	width: auto;
}

.humo_version {
	font-size:9px;
	text-align: center;
}

/* Photo's */
div.photo{
	margin: 2px;
	height: auto;
	width : 200px;
	float: left;
	text-align: center;
	overflow:auto;
}
div.photo img{
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}
div.photo a:hover img {
	border: 2px solid #0000ff;
}
div.phototext{
	font-style:italic;
	margin: 2px;
}

/* Photobook */
div.photobook{
	background-color:#FAF1EB;
	margin: 2px;
	border: 1px solid #0000ff;
	/* height : 250px; */
	height : 190px;
	width : 200px;
	float: left;
	text-align: center;
	overflow:auto;
}
div.photobook img{
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}
div.photobook a:hover img {
	border: 1px solid #0000ff;
}
div.photobooktext{
	font-style:italic;
	margin: 2px;
}

/* indentations for outline report */
/* a bit longer than necessary - better to many than too few.... */
	div.sub1 {margin-left: 20px; text-indent: -1.5em; }
	div.sub2 {margin-left: 60px; text-indent: -1.5em; }
	div.sub3 {margin-left: 100px; text-indent: -1.5em;}
	div.sub4 {margin-left: 140px; text-indent: -1.5em;}
	div.sub5 {margin-left: 180px; text-indent: -1.5em;}
	div.sub6 {margin-left: 220px; text-indent: -1.5em;}
	div.sub7 {margin-left: 260px; text-indent: -1.5em;}
	div.sub8 {margin-left: 300px; text-indent: -1.5em; }
	div.sub9 {margin-left: 340px; text-indent: -1.5em;}
	div.sub10 {margin-left: 380px; text-indent: -1.5em;}
	div.sub11 {margin-left: 420px; text-indent: -1.5em; }
	div.sub12 {margin-left: 460px; text-indent: -1.5em;}
	div.sub13 {margin-left: 500px; text-indent: -1.5em;}
	div.sub14 {margin-left: 540px; text-indent: -1.5em;}
	div.sub15 {margin-left: 580px; text-indent: -1.5em;}
	div.sub16 {margin-left: 620px; text-indent: -1.5em;}
	div.sub17 {margin-left: 660px; text-indent: -1.5em;}
	div.sub18 {margin-left: 700px; text-indent: -1.5em; }
	div.sub19 {margin-left: 740px; text-indent: -1.5em;}
	div.sub20 {margin-left: 780px; text-indent: -1.5em;}
	div.sub21 {margin-left: 820px; text-indent: -1.5em;}
	div.sub22 {margin-left: 860px; text-indent: -1.5em; }
	div.sub23 {margin-left: 900px; text-indent: -1.5em;}
	div.sub24 {margin-left: 940px; text-indent: -1.5em;}
	div.sub25 {margin-left: 980px; text-indent: -1.5em;}
	div.sub26 {margin-left: 1020px; text-indent: -1.5em;}
	div.sub27 {margin-left: 1060px; text-indent: -1.5em;}
	div.sub28 {margin-left: 1100px; text-indent: -1.5em; }
	div.sub29 {margin-left: 1140px; text-indent: -1.5em;}
	div.sub30 {margin-left: 1180px; text-indent: -1.5em;}
	div.sub31 {margin-left: 1220px; text-indent: -1.5em; }
	div.sub32 {margin-left: 1260px; text-indent: -1.5em;}
	div.sub33 {margin-left: 1300px; text-indent: -1.5em;}
	div.sub34 {margin-left: 1340px; text-indent: -1.5em;}
	div.sub35 {margin-left: 1380px; text-indent: -1.5em;}
	div.sub36 {margin-left: 1420px; text-indent: -1.5em;}
	div.sub37 {margin-left: 1460px; text-indent: -1.5em;}
	div.sub38 {margin-left: 1500px; text-indent: -1.5em; }
	div.sub39 {margin-left: 1540px; text-indent: -1.5em;}
	div.sub40 {margin-left: 1580px; text-indent: -1.5em;}
/* end indentations */

/* indentations for RTL outline report */
/* a bit longer than necessary - better to many than too few.... */
	div.rtlsub1 {margin-right: 20px; text-indent: -1.5em; }
	div.rtlsub2 {margin-right: 60px; text-indent: -1.5em; }
	div.rtlsub3 {margin-right: 100px; text-indent: -1.5em;}
	div.rtlsub4 {margin-right: 140px; text-indent: -1.5em;}
	div.rtlsub5 {margin-right: 180px; text-indent: -1.5em;}
	div.rtlsub6 {margin-right: 220px; text-indent: -1.5em;}
	div.rtlsub7 {margin-right: 260px; text-indent: -1.5em;}
	div.rtlsub8 {margin-right: 300px; text-indent: -1.5em; }
	div.rtlsub9 {margin-right: 340px; text-indent: -1.5em;}
	div.rtlsub10 {margin-right: 380px; text-indent: -1.5em;}
	div.rtlsub11 {margin-right: 420px; text-indent: -1.5em; }
	div.rtlsub12 {margin-right: 460px; text-indent: -1.5em;}
	div.rtlsub13 {margin-right: 500px; text-indent: -1.5em;}
	div.rtlsub14 {margin-right: 540px; text-indent: -1.5em;}
	div.rtlsub15 {margin-right: 580px; text-indent: -1.5em;}
	div.rtlsub16 {margin-right: 620px; text-indent: -1.5em;}
	div.rtlsub17 {margin-right: 660px; text-indent: -1.5em;}
	div.rtlsub18 {margin-right: 700px; text-indent: -1.5em; }
	div.rtlsub19 {margin-right: 740px; text-indent: -1.5em;}
	div.rtlsub20 {margin-right: 780px; text-indent: -1.5em;}
	div.rtlsub21 {margin-right: 820px; text-indent: -1.5em;}
	div.rtlsub22 {margin-right: 860px; text-indent: -1.5em; }
	div.rtlsub23 {margin-right: 900px; text-indent: -1.5em;}
	div.rtlsub24 {margin-right: 940px; text-indent: -1.5em;}
	div.rtlsub25 {margin-right: 980px; text-indent: -1.5em;}
	div.rtlsub26 {margin-right: 1020px; text-indent: -1.5em;}
	div.rtlsub27 {margin-right: 1060px; text-indent: -1.5em;}
	div.rtlsub28 {margin-right: 1100px; text-indent: -1.5em; }
	div.rtlsub29 {margin-right: 1140px; text-indent: -1.5em;}
	div.rtlsub30 {margin-right: 1180px; text-indent: -1.5em;}
	div.rtlsub31 {margin-right: 1220px; text-indent: -1.5em; }
	div.rtlsub32 {margin-right: 1260px; text-indent: -1.5em;}
	div.rtlsub33 {margin-right: 1300px; text-indent: -1.5em;}
	div.rtlsub34 {margin-right: 1340px; text-indent: -1.5em;}
	div.rtlsub35 {margin-right: 1380px; text-indent: -1.5em;}
	div.rtlsub36 {margin-right: 1420px; text-indent: -1.5em;}
	div.rtlsub37 {margin-right: 1460px; text-indent: -1.5em;}
	div.rtlsub38 {margin-right: 1500px; text-indent: -1.5em; }
	div.rtlsub39 {margin-right: 1540px; text-indent: -1.5em;}
	div.rtlsub40 {margin-right: 1580px; text-indent: -1.5em;}
/* end indentations */


/* Hulppagina */
.help_div {
	width: 80%;
	position: relative;
	left: 10%;
}

.rtlhelp_div {
	width: 80%;
	position: relative;
	right: 10%;
}

.help_box {
	padding-left: 20px;
	padding-right: 20px;
	/* width: 80%; */
	border: solid 1px #999999;
	background-color:#FAF1EB;
}
.help_header {
	margin: 0 0 -10px 0;
	text-align: center;
	font-size: 105%;
	font-weight: bold;
}

.help_text {
	font-size: 95%;
	font-weight: bold;
	font-style: italic;
}
.help_explanation {
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

table.ancestor_sheet {
	width:96%;
	text-align:center;
	border-collapse:separate;
	border-spacing:1px;
	border-style:double;
	border-color:#777777;
}
table.ancestor_sheet td{
	text-align:center;
	width:12%;
	vertical-align:top;
	border-width:1px;
	border-style:double;
	border-color:#777777;
	padding-top:5px;
	padding-bottom:5px;
}
table.ancestor_sheet td.kw-small {
	font-size:12px;
}
table.ancestor_sheet td.kw-medium {
	font-size:14px;
}
table.ancestor_sheet td.kw-bigger {
	font-size:16px;
}
table.ancestor_sheet td.kw-big {
	font-size:18px;
}
th.ancestor_head {
	border-width:1px;
	border-style:double;
	border-color:#777777;
	padding-top:5px;
	padding-bottom:5px;
	font-size:160%;
	color:blue;
	font-weight:bold;
	text-align: center;
}
.ancestor_legend {
	font-size:100%;
	text-align:center;
}
table.ancestor_sheet td.ancestor_devider{
	font-size:20%;
	padding-top:1px;
	padding-bottom:1px;
}
.onlyprint {display:none; }

.fanmenu1 {
	position:absolute;
	top:40px;
	left:10px;
	width:125px;
	text-align:center;
	border-style:solid;
	border-color:#FFE4C4;
}
.fanmenu2 {
	position:relative;
}
.fanmenu3 {
	background-color:#FFE4C4;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	min-height:570px;
}

/* Relations page/ verwantschap berekenen */
table.container td{
/* contains all graphic displays of relationships found by calculator */
	vertical-align:top;
	text-align:center;
	border:1px outset black;
	white-space:nowrap;
	padding:15px;
}
table.container{
	text-align:center;
	border-collapse:separate;
	border:1px outset black;
	background-color:#FFEEFF;
	background-image:none;
}

table.reltable td {
/* contains the actual graphic display of one relationship result */
	border:0px;
	text-align:center;
	padding-right:15px;
	padding-left:15px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:100%;
	white-space:nowrap;
}
table.reltable {
	text-align:center;
	border:0px;
	margin-left:auto;
	margin-right:auto;
	white-space:nowrap;
}
table.reltable a {
/* for names of persons of in-between generations in graphic display */
	color:blue;
	font-weight:normal;
	white-space:nowrap;
	font-size:100%;
}
table.reltable a:visited {
	color:blue;
	font-weight:normal;
	white-space:nowrap;
}
table.reltable a:hover {
	color:darkblue;
	font-weight:normal;
	background-color:#e6e6e6;
	white-space:nowrap;
}
table.reltable a.search {
/* for names of persons X and Y in the graphical display */
	font-size:120%;
	font-weight:bold;
	white-space:nowrap;
}
table.reltable a.search:hover {
	color:darkblue;
	background-color:#e6e6e6;
	font-weight:bold;
	white-space:nowrap;
}
table.reltable a.search:visited {
	color:blue;
	font-weight:bold;
	white-space:nowrap;
}
a.relsearch {
/* for names of persons X and Y in textual result */
	font-size:120%;
	font-weight:bold;
	white-space:nowrap;
}
a.relsearch:hover {
	color:darkblue;
	background-color:#e6e6e6;
	font-weight:bold;
	white-space:nowrap;
}
a.relsearch:visited  {
	color:blue;
	font-weight:bold;
	white-space:nowrap;
}
a.blue {
	color:blue;
}
span.relresult {
/* textual result of relationship found */
	white-space:nowrap;
	text-align:center;
}
table.relmenu td{
/* menu of relationship calculator */
	border:1px outset black;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}
table.relmenu {
	border:1px outset black;
	border-collapse:separate;
	text-align:center;
	background-image:none;
	background-color:#FFEEFF;
}
.relboxes {
/* makes name search boxes same height as pulldown menus */
	height:17px;
}