body.humo {
	background-color:white;
	background-image: url('style_admin/background.gif');
	background-repeat: no-repeat;

	font: 12px Verdana, tahoma, arial, sans-serif;
	line-height:150%;

	height:100%; max-height:100%;
	padding:0; margin:0; border:0;
}

a {text-decoration:none; }
a:hover {text-decoration:underline; color:red;}

table.humo {
	border: solid 1px #999999;
	border-collapse: collapse;
	background-color:#F8F8F8;

	font-size: 13px;
	margin-left:auto; margin-right:auto;
}
.humo_color {
	background-color:#EBEBEB;
}
.humo_color2 {
	background-color:#DFFFDE;
}
.humo_color3 {
	background-color:#FFFFFF;
}
table.standard {
	width:90%;
}
table.humo th { font-size: 15px; }
table.humo td { border: solid 1px #999999; }
.table_header {
	background-image: url('style_admin/button.png');
}
.table_header_large {
	background-image: url('style_admin/button_large.png');
}
.table_empty_line {
	background-color: white;
}

.iframe {
	width:90%;
	height:500px;
	display: block;
	margin-left:auto; margin-right:auto;
}

#security_remark {
	background-color:#FFFFFF;
	color:red;
	font-size: 12px;
	width: 500px;
	border: 1px solid blue;
	padding: 0.5em;
}

#humo_top {
	text-align:left;
	color:#7F7F7F;
	background-color:#E8E8E8;
	background:url(../images/gray_white.png) repeat left top;
	height:35px;
	padding:5px 0px 0;
}

#humo_menu{
	position:absolute;
	top:40px;
	display:block;
	width:100%;
	background-image: url('style_admin/button_large.png');

	font-size: 13px;

	border-top: solid 1px #EED4D4;
	border-bottom: solid 1px #EED4D4;

	z-index:100;
}

/* Main menu */
ul.humo_menu_item {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */
}
/* Pop-up menu */
ul.humo_menu_item2 {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */
}

/* Main menu */
ul.humo_menu_item li {
	float:left;
	margin:0;
	border-left: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,1);
}
/* Pop-up menu */
ul.humo_menu_item2 li {
	float:none;
	display:block;
	border-right:none;
	margin:0;
}

/* Border pop-up menu */
div.ltrsddm div {
	border:1px solid #EED4D4;
}
div.rtlsddm div {
	border:1px solid #EED4D4;
}
div.rtlsddm #m1x  ul  { padding-right: 0px; }
div.rtlsddm #m2x  ul  { padding-right: 0px; }
div.rtlsddm #m3x  ul  { padding-right: 0px; }
div.rtlsddm #m3xa  ul  { padding-right: 0px; }
div.rtlsddm #m4x  ul  { padding-right: 0px; }
div.rtlsddm #m5x  ul  { padding-right: 0px; }
div.rtlsddm #m6x  ul  { padding-right: 0px; }
div.rtlsddm #m40x  ul  { padding-right: 0px; }
div.rtlsddm #sub_1  ul  { padding-right: 0px; }
div.rtlsddm #sub_2  ul  { padding-right: 0px; }

/* Main menu */
ul.humo_menu_item li a{
	display:block;
	/* boven, rechts, onder */
	padding:8px 5px 7px 5px;
	text-decoration:none;
	color:#333;
	border-right:1px solid #b0b0b0;
}
/* Pop-up menu */
ul.humo_menu_item2 li a{
	float:none;
	font-size: 13px;
	padding:8px 5px 6px 5px;
	text-decoration:none;
	color:#333;
	border-right: none;
	background-image: url('style_admin/button_large.png');
	display:block;
}

#humo_menu a:hover {
	/* background:url(../images/gray_down.png) repeat left top; */
	/* color:#FFFFFF; */
	background:url(../images/gray_down.jpg) repeat left top;
	color:#333;
}
#humo_menu #current {

}
#humo_menu #current a, #humo_menu #current_top {
	/* background:url(../images/gray_down.png) repeat left top;
	color:#FFFFFF; */
	background:url(../images/gray_down.jpg) repeat left top;
	color:#333;
}

/* iPhone/iPad hack */
ul.humo_menu_item li ul.humo_menu_item2 {
  display:none;
}
ul.humo_menu_item li:hover ul.humo_menu_item2 {
  display:block;
}

#content_admin {
	display:block;
	position:relative;
	z-index:3;
	height:100%;
	max-height:90%;
	top:35px;
	/* boven, rechts, onder */
	padding:10px 0px 10px 10px;
}

/* Progress bar for reading gedcom file */
#progressbar{
	/* Outer progress bar */
	width:508px;
	height: 18px;
	padding:2px;
	background-color:white;
	border:1px solid black;
	text-align:center
}
#style_progress_bar {
	/* Inner progress bar */
	position: relative;
	float: left;
	width : 1px;
	height: 15px;
	border: 1px solid #000;
	background-color: #00FF00;
}

/* Buttons */
/* input { font-size: 10px; } */
input.selected_item { color:blue; font-weight:bold; }

/* Center buttons, etc. */
.center {
	text-align:center;
}

/* Confirmation */
div.confirm{
	background-color:#FAF1EB;
	margin: 5px;
	border: 2px solid #FF0000;
	width : 98%;
	text-align: center;
}
#pup {
  position:absolute;
  z-index:200; /* always on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}


/* Tab Menu (in use in family tree administration and person/ marriages editor) */
.pageHeadingContainer-lineVisible {
	margin-bottom: 15px;
	border-bottom: 1px solid #d9d9d9;
}
.pageHeadingContainer {
	clear: both;
	display: table;
	width: 100%;
	margin-bottom: 0px;
}
.pageHeading {
	display: table-cell;
}
.pageTabsContainer {
	display: table-cell;
	vertical-align: bottom;
	white-space: nowrap;
}
.pageTabs {
	margin: 0;
	padding: 0;
	float: right;
	margin-left:10px;
}
.pageTabItem {
	display: inline-block;
	zoom: 1;
	list-style: none;
	margin: 0 4px -1px 0;
}
.pageTab {
	display: inline-block;
	white-space: nowrap;
	color: #333;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	background-color: #eaf4fa;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 1px 1px 1px #fff inset;
	-moz-box-shadow: 1px 1px 1px #fff inset;
	box-shadow: 1px 1px 1px #fff inset;
}
.pageTab a {
	text-decoration:none;
	color: #765;
	display: inline-block;
	padding: 6px 8px 4px;
}
.pageTab-active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #2f63a3;
}
.pageTab-active a {
	font-weight: bold;
}

/* Order boxes (children) */
 
.sortable {
	width: 600px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid  {
	overflow: hidden;
}
.sortable li  {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	color: #1C94C4;
	/* margin: 5px;
	padding: 5px;
	height: 22px; */
	margin: 2px;
	padding: 5px;
	height: 15px;
}
.sortable.grid li  {
	line-height: 80px;
	float: left;
	width: 80px;
	height: 80px;
	text-align: center;
}
 
/* Order boxes (media) */
.sortable_pic { 
	width: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable_pic.grid  {
	overflow: hidden;
}
.sortable_pic li  {
	float:left;
	list-style: none; 
	border: 1px solid #CCC;
	background: #F6F6F6;
	color: #1C94C4;
	margin: 5px;
	padding: 5px; 
	height: 80px;
	margin-left:0px; padding-left:0px;
}
.sortable_pic.grid li  { 
	line-height: 80px;
	float: left;
	width: 150px;
	height: 80px;
	text-align: center;	
}
#sortable_pic {  
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: auto; 
}
#sortable_pic li { 
	margin: 0px 0px 0px 0px; 
	padding: 1px; 
	float: left; 
	width: 150px; 
	height: 80px; 
	font-size: 1em; 
	text-align: center; 
}