/* Basic page styles */
/* dec. 2023 test */

/*
html {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
*/

body.humo {
    background-color: white;
    background-image: url('style_admin/background.gif');
    background-repeat: no-repeat;

    font: 15px Verdana, tahoma, arial, sans-serif;

    /*
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    */
}

#top_website_name {
    font-weight: bold;
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

/* Bootstrap menu using hoover effect */
/* Example from: https: //bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    /* .navbar .nav-item:hover .nav-link {} */

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* Default background color. Used for search boxes */
.genealogy_search {
    background-color: #f1f1f1;
}

/* Add some color in non-selected navigation tab */
.genealogy_nav-link {
    background-color: #e4e4e4;
}

table.humo {
    border: solid 1px #999999;
    border-collapse: collapse;
    background-color: #F8F8F8;

    /* font-size: 13px; */
    margin-left: auto;
    margin-right: auto;
}

.humo_color {
    background-color: #EBEBEB;
}

.humo_color2 {
    background-color: #DFFFDE;
}

.humo_color3 {
    background-color: #FFFFFF;
}

table.standard {
    width: 90%;
}

table.humo th {
    /* font-size: 15px; */
    padding: 4px;

    text-align: left;
}

table.humo td {
    border: solid 1px #999999;
    padding: 4px;
}

.table_header {
    background: linear-gradient(rgb(251, 251, 251) 0%, rgb(212, 212, 212) 100%);
}

.table_header_large {
    background: linear-gradient(rgb(251, 251, 251) 0%, rgb(212, 212, 212) 100%);
}

.table_empty_line {
    background-color: white;
}

.iframe {
    width: 90%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#security_remark {
    background-color: #FFFFFF;
    color: red;
    /* font-size: 12px; */
    width: 500px;
    border: 1px solid blue;
    padding: 0.5em;
}

#humo_top {
    text-align: left;
    color: #737373;
    background-color: #f7f7f7;
    /* padding: 5px 0px 0; */
}

/* Border pop-up menu */
div.ltrsddm div {
    border: 1px solid #EED4D4;
}

div.rtlsddm div {
    border: 1px solid #EED4D4;
}

/* TODO check these items */
/*
div.rtlsddm #m1x ul {
    padding-right: 0px;
}

div.rtlsddm #m2x ul {
    padding-right: 0px;
}

div.rtlsddm #m3x ul {
    padding-right: 0px;
}

div.rtlsddm #m3xa ul {
    padding-right: 0px;
}

div.rtlsddm #m4x ul {
    padding-right: 0px;
}

div.rtlsddm #m5x ul {
    padding-right: 0px;
}

div.rtlsddm #m6x ul {
    padding-right: 0px;
}

div.rtlsddm #m40x ul {
    padding-right: 0px;
}

div.rtlsddm #sub_1 ul {
    padding-right: 0px;
}

div.rtlsddm #sub_2 ul {
    padding-right: 0px;
}
*/

/* Center buttons, etc. */
.center {
    text-align: center;
}

#pup {
    position: absolute;
    z-index: 200;
    /* always on top*/
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
    border: 1px solid black;
    background-color: #777;
    color: white;
    font-size: 0.95em;
}

/* Editor */
.hideshowlink {
    color: #0058af;
}

.hideshowlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editor_item {
    /* up, right, bottom */
    margin: 6px 0px 0px 0px;
    border: none;
    font-size: 13px;
}

/* Order boxes (children) */

.sortable {
    width: 750px;
    user-select: none;
}

.sortable.grid {
    overflow: hidden;
}

.sortable li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    /* color: #1C94C4; */
    /* margin: 5px;
	padding: 5px;
	height: 22px; */
    margin: 2px;
    padding: 5px;
    /* height: 15px; */
}

.sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

/* Order boxes (media) */
.sortable_pic {
    width: auto;
    user-select: none;
}

.sortable_pic.grid {
    overflow: hidden;
}

.sortable_pic li {
    /* float: left; */
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    /* height: 80px; */
    margin-left: 0px;
    padding-left: 0px;
}

.sortable_pic.grid li {
    line-height: 80px;
    float: left;
    width: 150px;
    height: 80px;
    text-align: center;
}

#sortable_pic {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#sortable_pic li {
    margin: 0px 0px 0px 0px;
    padding: 1px;
    /* float: left; */
    /* width: 150px; */
    /* height: 80px; */
    font-size: 1em;
    /* text-align: center; */
}

/* Photobook */
div.photobook {
    background-color: #FAF1EB;
    margin: 2px;
    border: 1px solid #0000ff;
    height: 190px;
    width: 200px;
    float: left;
    text-align: center;
    overflow: auto;
}

div.photobook img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
}

div.photobook a:hover img {
    border: 1px solid #0000ff;
}

div.photobooktext {
    font-style: italic;
    margin: 2px;
}