a {text-decoration:none; }
a:hover {text-decoration:underline; color:red;}

table.humo {
	border: solid 1px #999999;
	border-collapse: collapse;
	background-color:#FFFFCC;
	font-size: 13px;
}
table.standard { width:100%; }
table.humo th { font-size: 15px; }
table.humo td { border: solid 1px #999999; }
.table_header {
	background-color: #FFFFFF;
	background-image: url('../images/default_trans.png');
}

#security_remark {
	background-color:#FFFFFF;
	color:red;
	font-size: 12px;
	width: 500px;
	border: 1px solid blue;
	padding: 0.5em;
}

#humo_top {
	text-align:left;
	color:#7F7F7F;
	background-color:#E8E8E8;
	background:url(../images/gray_white.png) repeat left top;
	height:35px;
	padding:5px 0px 0;
}

#humo_menu{
	position:absolute;
	/* top:40px; */
	display:block;
	width:100%;
	background:url("../images/default_trans_large.png") repeat left top;
	font-size: 13px;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	z-index:100;

	margin:10px 0px 0px;
}

/* Border pop-up menu */
div.ltrsddm div {
	border:1px solid #999999;
}
div.rtlsddm div {
	border:1px solid #999999;
}
div.rtlsddm #m1x  ul  { padding-right: 0px; }

/* Main menu */
ul.humo_menu_item {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */	
}
/* Pop-up menu */
ul.humo_menu_item2 {
	margin:0;
	list-style:none;
	padding-left: 0px; /* was 15 px */	
}

/* Main menu */
ul.humo_menu_item li {
	float:left;
	margin:0;
	border-right:1px;
}
/* Pop-up menu */
ul.humo_menu_item2 li {
	float:none;
	display:block;
	border-right:none;
	margin:0;
}

/* Main menu */
ul.humo_menu_item li a{
	display:block;
	/* boven, rechts, onder */
	padding:8px 5px 7px 5px;
	text-decoration:none;
	color:#333;
	border-right:1px solid #b0b0b0;
}
/* Pop-up menu */
ul.humo_menu_item2 li a{
	float:none;
	font-size: 13px;
	padding:8px 5px 6px 5px;
	text-decoration:none;
	color:#333;	border-right: none;
	background:url("../images/default_trans_large.png") repeat left top;
	display:block;
}

#humo_menu a:hover {
	/* background:url(../images/gray_down.png) repeat left top; */
	background:url("../images/gray_down.jpg") repeat left top;
}
#humo_menu #current {

}
#humo_menu #current a, #humo_menu #current_top {
	/* background:url(../images/gray_down.png) repeat left top; */
	background:url("../images/gray_down.jpg") repeat left top;
	color:#333;
}

#content_admin {
	display:block;
	position:relative;
	z-index:3;
	height:100%;
	max-height:90%;
	top:35px;
	/* boven, rechts, onder */
	padding:10px 0px 10px 10px;
}

/* Progressbar to read gedcom file */
#style_progress_bar {
	position: relative;
	float: left;
	/* width: 100%; */
	width : 500px;
	height: 12px;
	border: 1px solid #000;
	background-color: #ffc;
}

/* Buttons */
input.selected_item { color:blue; font-weight:bold; }

/* O.a. center buttons etc. */
#center {
	text-align:center;
}

/* Confirmation */
div.confirm{
	background-color:#FAF1EB;
	margin: 5px;
	border: 2px solid #FF0000;
	width : 100%;
	text-align: center;
}