/* CSS file to show standard HuMo-gen pages at mobile devices */

body{
	/* Rescale background image based on the container's size */
	background-size: cover;
}

/* Hide some items in mobile version */
.mobile_hidden{
	visibility:hidden;
	width:0px; height:0px;
}
.mobile_visible{
	visibility:visible;
	width:initial; height:initial;
}

#humo_menu {
	font-size: 10px;
}

/* Pop-up menu */
ul.humo_menu_item2 li a{
	display:block;
	font-size: 11px;
	padding:5px 4px 5px 4px;
}

/* Double column for country flags in full version */
#m40x{
	width:35px;
}
#m40x ul li {
	width:35px;
}

#content_admin {
	/* boven, rechts, onder */
	padding:10px 5px 10px 5px;
}

table.standard {
	width:100%;
}

/* Tab menu */
.pageTab a {
	padding: 2px 2px 2px;
}