/* Basic page styles */

body.humo {
    background-color: white;
    background-image: url('style_admin/background.gif');
    background-repeat: no-repeat;

    font: 15px Verdana, tahoma, arial, sans-serif;
}

#top_website_name {
    font-weight: bold;
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

/* Bootstrap menu using hoover effect */
/* Example from: https: //bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    /* .navbar .nav-item:hover .nav-link {} */

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* Default background color. Used for search boxes */
.genealogy_search {
    background-color: #f1f1f1;
}

/* Add some color in non-selected navigation tab */
.genealogy_nav-link {
    background-color: #e4e4e4;
}

table.standard {
    width: 90%;
}

.table_empty_line {
    background-color: white;
}

.iframe {
    width: 90%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#security_remark {
    background-color: #FFFFFF;
    color: red;
    /* font-size: 12px; */
    width: 500px;
    border: 1px solid blue;
    padding: 0.5em;
}

#humo_top {
    text-align: left;
    color: #737373;
    background-color: #f7f7f7;
    /* padding: 5px 0px 0; */
}

/* Center buttons, etc. */
.center {
    text-align: center;
}

#pup {
    position: absolute;
    z-index: 200;
    /* always on top*/
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
    border: 1px solid black;
    background-color: #777;
    color: white;
    font-size: 0.95em;
}

/* Editor */
.hideshowlink {
    color: #0058af;
}

.hideshowlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editor_item {
    /* up, right, bottom */
    margin: 6px 0px 0px 0px;
    border: none;
    font-size: 13px;
}

/* Photobook */
div.photobook {
    background-color: #FAF1EB;
    margin: 2px;
    border: 1px solid #0000ff;
    height: 190px;
    width: 200px;
    float: left;
    text-align: center;
    overflow: auto;
}

div.photobook img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
}

div.photobook a:hover img {
    border: 1px solid #0000ff;
}

div.photobooktext {
    font-style: italic;
    margin: 2px;
}

/* Bootstrap popover, custom class */
.popover-wide {
    --bs-popover-max-width: 800px;
}
.popover-extra-wide {
    --bs-popover-max-width: 1000px;
}