body {
	color: #000000;
	background-color: #fae4b3;
	background-image: none;
}
#top { background:url(images_antique/sepiatop1.jpg) repeat left top }
#top_website_name a {
	color: #7e3517;
	font-weight:normal;
	font-family:"Monotype Corsiva","URW Chancery L",cursive,"Comic Sans MS", Tahoma,  Verdana;
	font-size:150%;
}
#top_website_name a:visited {
	color: #7e3517;
	font-weight:normal;
	font-family:"Monotype Corsiva","URW Chancery L",cursive,"Comic Sans MS", Tahoma,  Verdana;
}
#top_familytree_name {
	color: #347c17;
	font-weight:normal;
	font-family:Tahoma, "URW Chancery L", Verdana;
	font-size:25px;
}

#humo_menu {
	top:40px;
	background-color:#bbeeff;
	background:url("images_antique/header10.jpg") repeat left top;
	font-family:"Monotype Corsiva","URW Chancery L", "Comic Sans MS", Tahoma,  Verdana;
	font-size:20px;
}
#humo_menu a:hover {
	background:url("images_antique/header4.jpg") repeat left top;
	color:#098017;
}
#humo_menu ul.humo_menu_item2 li a:hover {
	background:url("images_antique/header4.jpg") repeat left top;
	color:#098017;
}
#humo_menu a#current_top {
	color:#098017;
	font-weight:normal;
	background:url("images_antique/header4.jpg") repeat left top;
}
#humo_menu #current a {
	color:#098017;
	font-weight:normal;
	background:url("images_antique/header4.jpg") repeat left top;
}
#humo_menu ul.humo_menu_item2 li { }
#humo_menu ul.humo_menu_item2 li a {
	background:url("images_antique/header2.jpg") repeat left top;
 	font-family:"Monotype Corsiva","URW Chancery L", "Comic Sans MS", Tahoma,  Verdana;
	font-weight:normal;
	padding:0px 5px 2px 5px;
	font-size:20px;
}
#humo_menu ul.humo_menu_item li a { font-weight:normal; color:#000000; }

ul.humo_menu_item li { border-right: none; }

#content { background: #ffffff url('images_antique/sepiathin.jpg') repeat; }
#rtlcontent { background: #ffffff url('images_antique/sepiathin.jpg') repeat; }
#mainmenu_centerbox  { background: #ffffff url(images_antique/tree_background_450lc.jpg) repeat left top; }
#mainmenu_right {
	background-color: #f2f2f2;
}
#mainmenu_centerbox .mainmenu_bar {
	background:url("images_antique/header2.jpg") repeat left top;
	font-size:13px;
	line-height:150%;
	height: 20px;
	padding-top:3px;
}
#mainmenu_right form {
	margin-left:12px;
	margin-right:12px;
}
#mainmenu_center_alt{

}

/* Links */
a {color:#505050; text-decoration:none;}
a:hover {color:#808080; text-decoration:underline;}
p {line-height:150%; margin:15px 0 15px;}

/* Tables */
table.humo {
	background-color: #FFFFFF;
	background: url(images_antique/tree_background_450lcbr.jpg) repeat left top;
	margin-top:10px;
}
table.standard { margin-left:auto; margin-right:auto; }
/* 1st table A-Z */
table.humo td {
	border-color: #3355cc;
	/* background: url(images_antique/tree_background_450lcbr.jpg) repeat left top; */
}
table.humo tr:first-of-type td { border-color: #3355cc; }

/* 2nd table A-Z */
.family_page_toptext {
	color: #000066;
	background-color: #ccccff;
	background:url("images_antique/header2.jpg") repeat left top;
}
table.humo td.style_tree_text { background-color: #eeeeff; }

/* Headline in table */
tr.table_headline{
	background-image: url('images_antique/header2.jpg');
}
/* table header  */
table.humo td.table_header { background:url("images_antique/header2.jpg") repeat left top; }

/* familypage */
.pers_name { color: #000000; }

/* A-Z title and header text reports (Generation I, II, etc.) */
.standard_header { color: #7E3517; margin-top:10px; }

/* Ancestor graphical */
div.ancestor_name { border-color: #000066; color: #000000; font-family: "arial narrow"; font-size: 75%; }
div.ancestor_name a { color: #222222; font-weight: bold; }
div.ancestor_line{ border-bottom-color: #000066; border-top-color: #000066;}
div.ancestor_split{ border-left-color: #000066; border-bottom-color: #000066; border-top-color: #000066; }
.ancestor_name { line-height:100%; }

/* Switchform */
#switchform { color: #333399; }

.help_box { background-color: #eeeeff; }
div.photobook, div.photobooktext { background-color: #eeeeff; }
table.reltable td { border:0px; }