/*
html {
    margin: 0 auto;
}
*/

body {
    /* background: url(images_white/background.gif) repeat-y top center #fff; */
    background: white;
    color: #404040;
}

/* Pop-up menu */
ul.humo_menu_item2 li a {
    background: linear-gradient(rgb(244, 244, 255) 0%, rgb(219, 219, 219) 100%);
}

.search_bar {
    background: url("images_white/white.jpg") repeat left top;
}

.genealogy_menu {
    background: white;
}

/* Tables */
table.humo {
    background-color: #ffffff;
}

/* 1st table A-Z */
.border {
    border: none;
}

table.humo {
    box-shadow: 0px 0px 0px;
}

table.humo td {
    border: none;
    border-bottom: 2px solid #dadada;
}

table.humo tr:first-of-type td {
    border: none;
    border-bottom: 2px solid #dadada;
}

table.humo tr:first-of-type th {
    border: none;
}

/* 2nd table A-Z */
.family_page_toptext {
    color: #ffffff;
    background-image: none;
    color: black;
}

td.style_tree_text {
    background-color: #eeeeff;
}

.table_headline {
    background: linear-gradient(to bottom, rgb(244, 244, 255) 0%, rgb(219, 219, 219) 100%);
}

table.standard td.table_header {
    background-image: none;
}

table.container {
    background-color: #FFFFFF;
}

table.reltable td {
    border: 0px;
}