body {
    /* background: url(images_white/background.gif) repeat-y top center #fff; */
    background: white;
    color: #404040;
}

.search_bar {
    background: url("images_white/white.jpg") repeat left top;
}

.genealogy_menu {
    background: white;
}

/* 1st table A-Z */
.border {
    border: none;
}

/* 2nd table A-Z */
.family_page_toptext {
    color: #ffffff;
    background-image: none;
    color: black;
}

td.style_tree_text {
    background-color: #eeeeff;
}

table.container {
    background-color: #FFFFFF;
}