/*
This is the default theme for HuMo-genealogy. You can find the CSS code in the file: "gedcom.css".

Dit is het standaard thema voor HuMo-genealogy. De CSS code staat in het bestand: "gedcom.css".
*/