body {
    color: #000000;
    background-image: url('images_nightlock/background.gif');
    background-repeat: repeat-x;
    /* font: 13px Verdana, tahoma, arial, sans-serif; */
}

#top {
    background: rgb(0, 0, 0);
}

#top_website_name a {
    color: #7e3517;
    font-family: Delicious-Boldx, Verdana, Arial;
    font-weight: bold;
    font-size: 18px;
}

#top_website_name a:visited {
    color: #7e3517;
    font-family: Delicious-Boldx, Verdana, Arial;
    font-weight: bold;
}

#top_familytree_name {
    color: #689BDD;
    font-family: Deliciousx, Verdana, Arial;
    font-size: 16px;
    font-weight: normal;
}

/* Links */
a:link {
    color: #0058af;
}

a:visited {
    color: #AD5E34;
}

a:hover {
    color: #333366;
    text-decoration: underline;
}

.genealogy_search {
    background-color: transparent;
    border: solid 1px #EED4D4;
}
.genealogy_box {
    background-color: transparent;
    border: solid 1px #EED4D4;
}

/* Tables */
table.humo {
    background-color: #CFB09D;
}

/* 1st table A-Z */
table.humo td {
    border-color: #CFB09D;
}

table.humo tr:first-of-type td {
    border-color: #CFB09D;
}

td.style_tree_text {
    background-color: #BDD7EF;
}

.table_headline {
    background: linear-gradient(to top, rgb(204, 102, 102) 0%, rgb(173, 57, 64) 64%, rgb(155, 31, 42) 100%);
    color: #FFFFFF;
}

.table_headline a:visited {
    color: #FFFFFF;
}

.table_headline a:active {
    color: #FFFFFF;
}

.table_headline a:hover {
    color: #FFFFFF;
}

/* table header  */
td.table_header {
    background: linear-gradient(to top, rgb(204, 102, 102) 0%, rgb(173, 57, 64) 64%, rgb(155, 31, 42) 100%);
}

/* familypage */
.pers_name {
    color: #464646;
}

/* A-Z title and header text reports (Generation I, II, etc.) */
.standard_header {
    color: #0058af;
}

/* report_ancestor */
.chart_line {
    background-color: #AAA;
    border: 0px;
}

/* Menu */
#top_menu {
    /* For IE: */
    color: #FFFFFF;
    background-color: #aaccee;
}

#humo_menu {
    background-color: #bbeeff;
    background: linear-gradient(to top, rgb(204, 102, 102) 0%, rgb(173, 57, 64) 64%, rgb(155, 31, 42) 100%);
    border-top: solid 0px #FFFFFF;
    border-bottom: solid 1px #000000;
    box-shadow: 3px 3px 6px #bbb;
}

#humo_menu a {
    color: #FFFFFF;
}

#humo_menu a:hover {
    background: linear-gradient(to top, rgb(127, 209, 63) 0%, rgb(127, 175, 63) 100%);
}

ul.humo_menu_item li {
    border-left: none;
    border-right: none;
}

ul.humo_menu_item li a {
    display: block;
    /* up, right, bottom */
    padding: 8px 5px 7px 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

/* Pop-up menu */
ul.humo_menu_item2 li a {
    background-color: #999;
    background: linear-gradient(to top, rgb(204, 102, 102) 0%, rgb(173, 57, 64) 64%, rgb(155, 31, 42) 100%);
}

#humo_menu #current a,
#humo_menu #current_top {
    background: linear-gradient(to top, rgb(127, 209, 63) 0%, rgb(127, 175, 63) 100%);
}

#humo_menu a:visited {
    color: #FFFFFF;
}

#humo_menu a:active {
    color: #FFFFFF;
}

#humo_menu a:hover {
    color: #FFFFFF;
}

div.photobook,
div.photobooktext {
    background-color: #e5f0fa;
}

.search_bar {
    background: linear-gradient(to top, rgb(204, 102, 102) 0%, rgb(173, 57, 64) 64%, rgb(155, 31, 42) 100%);
}

table.reltable td {
    border: 0px;
}

table.reltable {
    background: none;
    background-image: none;
}

.mobile_icon {
    filter: invert(100%);
}